.button {
    display: inline-block;
    background-color: #f25a70;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 200ms cubic-bezier(0.17, -0.76, 1, 2.07); /*coloca qualquer valor e configura no dev tools*/
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.02); /*vai ser modificado em escala de 1.02*/
}